<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>[依申请公开满意度评价]-岚皋县市人民政府门户网站群!</title>
<meta content="webkit" name="renderer">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="SiteName" content="岚皋县市人民政府门户网站群!">
<meta name="SiteDomain" content="www.pds.gov.cn">
<meta name="SiteIDCode" content="4104000031">
<meta name="ColumnName" content="依申请公开满意度评价">
<meta name="ColumnType" content="依申请公开满意度评价">
<meta name="ArticleTitle" content="市教育体育局">
<meta name="PubDate" content="2016-10-11">
<meta name="ContentSource" content="">

<link rel="stylesheet" type="text/css" href="../../css/m_index.css">
<link type="text/css" rel="stylesheet" href="../../css/top.css">
<link type="text/css" rel="stylesheet" href="../../css/bottom.css">
<link type="text/css" rel="stylesheet" href="../../css/content.css">
<link rel="stylesheet" type="text/css" href="../../css/juheweb.css">
<script type="text/javascript" src="../../js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="../../js/juheweb.js"></script>
<link rel="stylesheet" type="text/css" href="../../css/weui.min.css">
<link rel="stylesheet" type="text/css" href="../../icon/iconfont.css">
<script type="text/javascript" src="../../js/m_common.js"></script>
<script type="text/javascript" src="../../js/zepto.min.js"></script>
<script>var $pageInfo = {publishmentSystemID : 1, channelID : 10353, contentID : 52197, siteUrl : "", homeUrl : "/home", currentUrl : "/contents/10353/52197.html", rootUrl : "", apiUrl : "/api"};</script><script type="text/javascript" src="/js/kb.js"></script></head>

<body>
<script type="text/javascript" src="../../sitefiles/assets/jquery/jquery-1.9.1.min.js"></script><script src="../../sitefiles/assets/components/js.cookie.js" type="text/javascript"></script><script language="javascript" src="../../sitefiles/assets/digg/script.js"></script><script src="../../sitefiles/assets/components/lodash-4.17.4.min.js" type="text/javascript"></script><script src="../../sitefiles/assets/components/stlClient.js" type="text/javascript"></script><script src="../../sitefiles/assets/components/vue-2.1.10.min.js" type="text/javascript"></script>

<!--最外层容器 start-->

<div id="all">

<script src="../../js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="../../js/accessible.js" type="text/javascript"></script>
<div id="top_bar">
    <div class="top_all">
        <div class="a-top">欢迎访问岚皋县市人民政府门户网站群！ <script src="../../sitefiles/assets/scripts/datestring.js" type="text/javascript"></script><script language="javascript" type="text/javascript">RunGLNL(true);</script>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;本网站已支持IPV6</div>
        <div class="b-top">
            <span><a id="accessible" href="javascript:">无障碍</a>|
                <script type="text/javascript">        //无障碍
                    initAccessible(document.querySelector("body"), document.querySelector("#accessible"));
                </script>
            </span>
            <a id="wjwl" name="wjwl">繁体版</a><script language="Javascript" src="../../js/gb2big5.js"></script>|<a href="../../app_loading.html" target="_blank">移动版</a>|<a href="../../qa.html" target="_blank">智能问答</a>
        </div>
    </div>
</div>

  <!--中间内容区域 start-->
  <div id="center">
  	<!--头部开始 start-->
       <div id="top">
       <div class="top_t">
         <div class="top_tt">
            <div class="Logo"><img src="../../images/2.png"></div>
            <div class="weather" id="weather"><script src="../../js/weather.js"></script></div>
            <div class="search"><form id="formsub" action="/utils/search.html">
          <input type="button" id="m_qzjs" value="本站">
          <input type="hidden" name="isAllSites" id="m_qzjsyy" value="false">
            <script>
              var isAllSites = false;
              var inputSite = document.querySelector('#m_qzjsyy');
              document.querySelector('#m_qzjs').onclick=function(){
              if(isAllSites){
                this.value = '本站';
              inputSite.value = 'false';
              isAllSites = false;
              }else{
                this.value = '全站';
              inputSite.value = 'true';
              isAllSites = true;
              }
              console.log(isAllSites);
              }
            </script>
            <input type="text" id="word" class="word" name="word" placeholder="请输入关键字进行搜索">
            <input type="hidden" id="channelID" name="channelID" value="1">
            <input type="submit" id="submit" class="submit" value="搜索">
            </form>
            <div class="m_srsc">热搜词：<a href="../../utils/search-E696B0E586A0E882BAE7828E_.html">新冠肺炎</a><a href="../../utils/search-E696B0E586A0E882BAE7828E_.html">疫情防控</a><a href="../../utils/search-E696B0E586A0E882BAE7828E_.html">企业复工复产</a><a href="../../utils/search-E696B0E586A0E882BAE7828E_.html">营商环境</a>
            </div>
          </div>
          </div>
          <div class="top_tb">
            <ul>
                <li><a href="javascript:;">网站首页</a></li>
                 
                <li><a href="../../channels/3.html">鹰城快讯</a></li>
                <li><a href="../../channels/13.html">走进鹰城</a></li>
                <li class="nav_d"><a href="../../channels/2144.html">政府信息公开</a></li>
                <li><a href="javascript:;">政务服务</a></li>
                <li><a href="../../channels/2144.html">政民互动</a></li>
                <li><a href="../../channels/1049.html">站群导航</a></li>
                <li><a href="javascript:;">国务院信息</a></li>
                <li class="nav_date"><script src="../../sitefiles/assets/scripts/datestring.js" type="text/javascript"></script><script language="javascript" type="text/javascript">RunGLNL(false);</script></li>
              </ul>
          </div>
       </div> 
    </div>
    <!--头部结束 end-->
    <div class="center_b">
      <div class="lujing">您当前的位置是：<a href="javascript:;">首页</a> > <a href="../../channels/2144.html">政府信息公开</a> > <a href="javascript:;">市政府信息公开目录</a> > <a href="javascript:;">依申请公开</a> > <a href="javascript:;">依申请公开满意度评价</a></div>
      <div class="content" id="con">
        <div class="contitle" id="Title">市教育体育局</div>
        <div class="condate">
          <div class="condatel">统计日期：2016-10-11  视力保护:</div>
          <div class="condater">
            <span style=" background:#E6FFFF;" onclick="document.all.con.style.backgroundColor=&#39;#E6FFFF&#39;;"></span>
              <span style=" background:#CFF" onclick="document.getElementById(&#39;con&#39;).style.backgroundColor=&#39;#CFF&#39;;"></span>
              <span style=" background:#FFC" onclick="document.getElementById(&#39;con&#39;).style.backgroundColor=&#39;#FFC&#39;;"></span>
               <span style=" background:#FCF" onclick="document.getElementById(&#39;con&#39;).style.backgroundColor=&#39;#FCF&#39;;"></span>
               <span style=" background:#9CF" onclick="document.getElementById(&#39;con&#39;).style.backgroundColor=&#39;#9CF&#39;;"></span>
               <span style=" background:#EEE" onclick="document.getElementById(&#39;con&#39;).style.backgroundColor=&#39;#EEE&#39;;"></span>
          </div>
        </div>
        <div class="conconter" id="conter" style="margin:50px 270px;"><link rel="stylesheet" href="../../sitefiles/assets/digg/Style1.css" type="text/css"><div id="ajaxElement_1_1"><img src="http://www.pds.gov.cn/sitefiles/assets/loading.gif"></div>
<script type="text/javascript" language="javascript">
function stlDigg_1(url)
{
    try
    {
        var cnum=Math.ceil(Math.random()*1000);
        url = url + '&r=' + cnum;

        jQuery.get(url, '', function(data, textStatus){
            jQuery('#ajaxElement_1_1').html(data);
        });

    }catch(e){}
}

stlDigg_1('/api/stl/digg/1?relatedIdentity=52197&updaterId=1&diggType=All&goodText=E2UoJiSel2k0equals0&badText=o7AMFuO40add0kJyoROaNFzCMg0equals00equals0&theme=Style1&isDigg=False&isGood=False');

function stlDiggSet_1(isGood)
{
    if (stlDiggCheck(1, 52197)){
        jQuery('#ajaxElement_1_1').html('<img src="/sitefiles/assets/loading.gif" />');
        if (isGood)
        {
            stlDigg_1('/api/stl/digg/1?relatedIdentity=52197&updaterId=1&diggType=All&goodText=E2UoJiSel2k0equals0&badText=o7AMFuO40add0kJyoROaNFzCMg0equals00equals0&theme=Style1&isDigg=True&isGood=True');
        }else{
            stlDigg_1('/api/stl/digg/1?relatedIdentity=52197&updaterId=1&diggType=All&goodText=E2UoJiSel2k0equals0&badText=o7AMFuO40add0kJyoROaNFzCMg0equals00equals0&theme=Style1&isDigg=True&isGood=False');
        }
    }
}
</script>
</div>
        <div class="comment">
          <div class="commentt">我要留言</div>
          <div class="commentb">
              
<link href="../../sitefiles/assets/commentInput/style.css" rel="stylesheet" type="text/css">
<script src="../../sitefiles/assets/commentInput/script.js" language="javascript"></script>
<div id="stlCommentContainer" class="stlCommentContainer">
    <div v-if="!replyId" v-bind:style="{ display: comments ? '' : 'none' }" class="post_box post_box_top post_box_showall" style="display: none">
    <p class="post_box_count">
        已有<span class="f_red">{{ totalCount }}</span>条评论
    </p>
    <div v-bind:style="{ display: isSubmit ? '' : 'none' }" class="post_box_cont clearfix">
        <textarea v-model="content" placeholder="请输入评论内容"></textarea>
    </div>

    <div class="cmnt_user_cont clearfix" v-bind:style="{ display: isSubmit ? '' : 'none' }">
        <!-- <div v-if="!user || !user.displayName">
            <div class="cmnt_name">
                <input v-model="account" autocomplete="off" placeholder="手机号/用户名/邮箱" class="form_input_long" />
            </div>
            <div class="cmnt_password">
                <input v-model="password" autocomplete="off" placeholder="请输入密码" type="password" class="form_input_long" />
            </div>
            <div class="cmnt_user_link">
                <a v-bind:href="regUrl" target="_blank">注册</a> &nbsp;|&nbsp;
                <a v-bind:href="findpwdUrl" target="_blank">忘记密码？</a>
            </div>
            <div class="cmnt_user_login_info" v-if="isAuthError">
                <span class="notice">用户名/密码错误</span>
            </div>
        </div> -->





        <div class="cmnt_user_login_info" v-bind:style="{ display: isSubmit ? '' : 'none' }" v-if="isUnChecked">
            <span class="notice">提交成功，评论内容将在管理员审核通过后显示</span>
        </div>
        <a v-on:click="cancel" v-bind:style="{ display: isSubmit ? '' : 'none' }" v-if="replyId" href="javascript:;" class="post_btn post_btn_disbled">取消</a>
        <a v-on:click="submit" v-bind:style="{ display: isSubmit ? '' : 'none' }" v-bind:class="{ post_btn_disbled: !content }" href="javascript:;" class="post_btn">发布</a>
        <div v-if="user && user.displayName" class="cmnt_user">
            <span>
                <a v-bind:href="homeUrl" target="_blank">{{ user.displayName }}</a>
            </span> &nbsp;|&nbsp;
            <a v-on:click="logout()" href="javascript:;" title="退出登录">退出</a>
        </div>
    </div>
</div>

<div v-bind:style="{ display: comments ? '' : 'none' }" class="b_cont2" style="display: none">
    <div>
        <div class="c_title">
            <span class="cmenu">最新评论</span>
        </div>
        <div class="b_txt">

            <div class="comment_item" v-for="comment in comments">
                <div class="comment_item_cont clearfix">
                    <div class="t_face">
                        <img v-bind:src="comment.avatarUrl">
                    </div>
                    <div class="t_content">
                        <div>
                            <div class="t_info">
                                <span class="t_username"> {{ comment.displayName }}</span>
                            </div>

                        </div>
                        <div class="comment_content clearfix">
                            <div class="t_txt">{{ comment.content }}</div>
                            <div class="reply">
                                <span class="datetime">{{ comment.addDate }}</span>
                                <span v-bind:style="{ display: isSubmit ? '' : 'none' }"><a v-on:click="good(comment)" href="javascript:;" class="comment_link">支持 <em v-if="comment.goodCount > 0">({{ comment.goodCount }})</em></a></span>
                                <span v-bind:style="{ display: isSubmit ? '' : 'none' }"><a v-on:click="reply(comment.id)" href="javascript:;" class="comment_link">回复</a></span>
                                <span v-if="isDelete || (user && user.userName === comment.userName)"><a v-on:click="remove(comment)" href="javascript:;" class="comment_link">删除</a></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="post_box post_box_top post_box_showall" v-if="replyId === comment.id">
                    <div class="post_box_cont clearfix">
                        <textarea v-model="content" placeholder="请输入评论内容"></textarea>
                    </div>
                    <div class="cmnt_user_cont clearfix">
                        <div v-if="!user || !user.displayName">
                            <div class="cmnt_name">
                                <input v-model="account" autocomplete="off" placeholder="手机号/用户名/邮箱" class="form_input_long">
                            </div>
                            <div class="cmnt_password">
                                <input v-model="password" autocomplete="off" placeholder="请输入密码" type="password" class="form_input_long">
                            </div>
                            <div class="cmnt_user_link">
                                <a v-bind:href="regUrl" target="_blank">注册</a> &nbsp;|&nbsp;
                                <a v-bind:href="findpwdUrl" target="_blank">忘记密码？</a>
                            </div>
                            <div class="cmnt_user_login_info" v-if="isAuthError">
                                <span class="notice">用户名/密码错误</span>
                            </div>
                            <div class="cmnt_user_login_info" v-if="isUnChecked">
                                <span class="notice">提交成功，评论内容将在管理员审核通过后显示</span>
                            </div>
                        </div>
                        <a v-on:click="cancel" v-if="replyId" href="javascript:;" class="post_btn post_btn_disbled">取消</a>
                        <a v-on:click="submit" v-bind:class="{ post_btn_disbled: !content }" href="javascript:;" class="post_btn">发布</a>
                        <div v-if="user && user.displayName" class="cmnt_user">
                            <span>
                                <a v-bind:href="homeUrl" target="_blank">{{ user.displayName }}</a>
                            </span> &nbsp;|&nbsp;
                            <a v-on:click="logout()" href="javascript:;" title="退出登录">退出</a>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="comments && comments.length === 0" class="comment_item comment_tip" style="display: block;">
                <span>暂无评论</span>
            </div>

            <div v-if="isLoading" class="comment_item comment_loading" style="display: block;">
                <span>评论加载中，请稍候...</span>
            </div>

            <div v-if="requestOffset < totalCount" class="comment_item comment_more" style="display: block;">
                <a v-on:click="list" href="javascript:;">点击加载更多评论</a>
            </div>

        </div>
    </div>
</div>
</div>
<script>
    loadComments('/home', '/api/stl/comments/1/10353/52197', '/api/stl/comments/1/10353/52197/actions/add', '/api/stl/comments/1/10353/52197/actions/good', '/api/stl/comments/1/10353/52197/actions/delete', '/api/users/actions/logout', 10, false,true);
</script>
 
          </div>
        </div>
        <div class="commenb">
          <div class="commenbt">热门留言</div>
          <div class="commenbb">
              
          </div>
        </div>
      </div>
      <div class="share">
        <div class="share_left"><span></span>
         
        </div>
        <div class="share_right">
          <span class="dy"><a href="javascript:self.print()">打印</a></span> <a href="javascript:window.close()"><span class="gb">关闭</span></a>
        </div>
      </div>
      <div class="updown">
        上一篇：<a href="javascript:;" type="PreviousContent" wordnum="55">市科技局</a><br>
        下一篇：<a href="javascript:;" type="NextContent" wordnum="55">市发改委</a>
      </div>
    </div>
  </div>
  <!--中间部分 end-->
</div>
<!--最外层容器 end-->
<!--底部版权 start-->
<div id="bottom">
  <div class="bottom_bt">
      <div class="bottom_bt_left"><a href="javascript:;" target="_blank"><img src="../../images/timg.png" width="65px" height="75px"></a></div>
        <div class="bottom_bt_right">
        <a href="../../channels/5329.html">关于我们</a> | <a href="../../channels/5330.html">版权声明</a> | <a href="../5331/71268.html">联系我们</a> | <a href="../../channels/5332.html">网站地图</a> <br>
        河南省岚皋县市人民政府版权所有    政府网站标识码：4104000031<br>
        <a href="javascript:;" target="_blank"> ICP证号：豫ICP备05017763号-1</a>
        <img src="../../images/gaba.png" style="margin-top:-5px; margin-right:5px;"><a href="javascript:;" target="_blank">豫公网安备 41040002000001号</a> 
        </div>
        <div class="bottom_bt_ewmwx"></div>
        <div class="bottom_bt_ewmwb"></div>
        <div class="jiucuolin">
        <span id="_span_jiucuo"></span>
<a href="javascript:;" target="_blank" title="政府网站找错"><img src="../../Picture/index_33.png" alt="政府网站找错"></a>
        <!--<script id="_jiucuo_"  sitecode="4104000031" src="http://pucha.kaipuyun.cn/exposure/jiucuo.js"></script>--></div>
    </div>
</div>
<!--底部版权 end-->
</body>
</html>
<script src="../../sitefiles/assets/tracker/script.js" type="text/javascript"></script>
<script type="text/javascript">AddTrackerCount('/api/stl/actions/add_tracker_count/1/10353/52197', 1);</script>
<script src="http://www.pds.gov.cn/api/stl/actions/add_content_hits/1/10353/52197" type="text/javascript"></script>
